<div class="container-fluid bg-dark text-white mt-4">
    <div class="container p-0">
    <footer>
        <div class="row pt-5">

            <div class="col-3">
                <h5>Компания</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О компании</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Персональные данные</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Политика конфиденциальности</a></li>
                </ul>
            </div>

            <div class="col-3">
                <h5>Покупателям</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Доставка</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Статус заказа</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Способы оплаты</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Обмен, возврат, гарантия</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Обратная связь</a></li>
                </ul>
            </div>

            <div class="col-4 offset-1">
                <form>
                    <h5>Следите за новинками и акциями:</h5>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Подписаться</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; {{ 'now'|date('Y') }} Компания Uxcode</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-light" href="#">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a></li>
            </ul>
        </div>
    </footer>
    </div>
</div>